    - name: installing mysql server
      apt:
          pkg:
            - mysql-server
            - mysql-client

    - name: start mysql service
      service:
        name: mysql
        state: started


    - name: Create new databases with name employee_db
      mysql_db:
        name:
          - employee_db
        state: present

    - name: Create database user with name 'db_user' and password 'Passw0rd' with all database privileges
      mysql_user:
        name: db_user
        password: Passw0rd
        priv: '*.*:ALL'
        state: present